.note-right-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.note-display {
  height: 50%;
  flex-grow: 1;
  padding: 46px;
  overflow-y: scroll;

  // +1 point pour l'easter egg
  #lucas, #laurent, #cedric {
    color: #E4B7E5;
  }

  h1 {
    color: #F0F757;
    margin-bottom: 16px;
  }
}