*, :before, :after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: #222;
  color: #eee;
  font-family: 'Mulish', sans-serif;
  display: flex;
  min-height: 100vh;
}

.notes-list {
  width: 25%;
  min-width: 250px;
  background-color: #aaa;
  border-right: 2px solid white;
}

.note-wrapper {
  flex-grow: 1;
}

::-webkit-scrollbar {
  display: block;
}
::-webkit-scrollbar-thumb {
  background-color: #F0F757;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background-color: #222;
}

.btn {
  padding: 16px 32px;
  background-color: #F0F757;
  font-family: 'Mulish', sans-serif;
  font-size: 1.2em;
  margin-top: 8px;
  cursor: pointer;
  border: 2px solid #F0F757;
  transition:background-color 0.3s, color 0.3s;
  -webkit-transition:background-color 0.3s, color 0.3s;
  -moz-transition:background-color 0.3s, color 0.3s;
  -ms-transition:background-color 0.3s, color 0.3s;
  -o-transition:background-color 0.3s, color 0.3s;

  &:hover {
    color: #F0F757;
    background-color: transparent;
  }
}

.notes-list-wrapper {
  display: flex;
  flex-direction: column;
  padding: 32px;
  overflow-y: auto;
  height: 100%;
}